.fix {
    font-weight: bold;
    margin-left: 42.5%;
    margin-top: 7%;
}

footer a:hover {
    color: brown;
    font-size: 20pt;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

body {
    background-image: url(waves.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#photo {
    display: block;
    max-width: 25%;
    height: auto;
    margin-left: 8%;
    margin-right: auto;
    border: 1vw solid white;
}

#intro {
    font-weight: bold;
    border: 10px solid white;
    margin: auto;
    width: 25%;
    padding: 0.5rem;
    margin-left: 8%;
}

#hidden {
    color: white;
    font-size: 20%;
    width: 30em;
    display: none;
    margin-top: 1%;
    margin-right: 20em;
    font-family: serif;
}

.reveal {
    font-family: "Serif";
}

.headers {
    color: white;
    font-family: "Times New Roman";
    text-decoration: underline;
    text-decoration-color: blue;
    display: block;
    position: absolute;
    top: 2vw;
    left: 15vw;
}

.sch {
    width: 15vw;
    margin-left: 15vw;
    margin-top: 7vw;
}

.scl {
    color: white;
    font-style: italic;
}

#separate {
    color: white;
    font-family: "Times New Roman";
    text-decoration: underline;
    text-decoration-color: blue;
    display: block;
    position: absolute;
    top: 2vw;
    left: 45vw;
}

#under {
    color: white;
    font-family: "Times New Roman";
    text-decoration: underline;
    text-decoration-color: blue;
    display: block;
    position: absolute;
    top: 2vw;
    left: 75vw;
}

.container {
    display: flex;
    flex-direction: column;
    font-style: none;
}

.tables {
    color: white;
    font-family: "Times New Roman";
}

#id {
    padding: 1rem 1.5rem;
}

#contact {
    color: white;
    font-family: "Times New Roman";
    text-decoration: underline;
    text-decoration-color: blue;
    text-align: center;
    font-size: 5vw;
}

.copy {
    color: white;
    font-size: 0.7vw;
    position:absolute;
    top:45vw;
}

@media screen and (max-width: 768px) {
    .table-header {
        font-size: 1rem;
    }
}

#connect {
    color: white;
}

.btn-secondary svg {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.controller {
    display: flex;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
