<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="../support/styles.css" rel="stylesheet">
        <title>Ethan's projects</title>
    </head>
    <body class="d-flex flex-column h-100">
        <main class="container my-auto">
          <div class="table-responsive">
            <table class="table table-dark table-hover">
                <thead class="text-center" style="text-decoration: underline; text-decoration-color: blue;">
                  <tr class="tables" style="font-size: 1.25rem;">
                    <th scope="col">PROJECTS</th>
                    <th scope="col">PROFICIENCY</th>
                    <th scope="col">BASIC UNDERSTANDING</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td>Basic Calculator</td>
                    <td>C</td>
                    <td>Jquery</td>
                  </tr>
                  <tr>
                    <td>Dice Game</td>
                    <td>Python</td>
                    <td>AJAX</td>
                  </tr>
                  <tr>
                    <td>Static Personal Website</td>
                    <td>HTML</td>
                    <td>Jinja</td>
                  </tr>
                  <tr>
                    <td>Shopping Cart</td>
                    <td>CSS</td>
                    <td>Json</td>
                  </tr>
                  <tr>
                    <td>Ban Luck Game (IN PROGRESS)</td>
                    <td>Javascript</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Visual Calculator (IN PROGRESS)</td>
                    <td>Flask</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>SQL</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Bootstrap</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </main>
        <footer class="fix mt-auto">
          <div class="container">
            <div class="row justify-content-center">
                <div>
                    <a href="index.html">introduction</a>
                    <a href="education.html">education</a>
                    <a href="contact.html">contact</a>
                </div>
            </div>
        </footer>
    </body>
</html>